# Get your own bot token from telegram bot father
BOT_TOKEN=8036674887:AAFHzxQS2QzQtx5vtmSh0Dm_EG3UUuQ7KNI
# Super Admin/HR details
SUPER_HR_EMP_ID=970810
SUPER_HR_NAME=MR LEO SRI LANKA
SUPER_HR_PWD=970810
